%div{:class => "line mal"}
  %div{:class => "unit size1of3 mrm"}
    %div{:class => "box callout chatty"} 
      %div{:class => "inner"}
        %div{:class => "hd"} 
          %h3= t.title.popular_content
        %div{:class => "bd"}
          %p
            Some popular stuff
  %div{:class=> "unit size1of3 mrm"}
    %div{:class => "box callout chatty"}
      %div{:class => "inner"}
        %div{:class => "hd"} 
          %h3= t.title.getting_started
        %div{:class => "bd"}
          %p
            Welcome to Force.com!
  %div{:class=> "unit size1of3 lastUnit"}
    %div{:class => "box callout chatty"}
      %div{:class => "inner"}
        %div{:class => "hd"} 
          %h3= t.title.new_content
        %div{:class => "bd"}
          %p
            Deployment Lifecycle          
%div{:class => "line mal"}
  %div{:class => "box callout chatty"}
    %div{:class => "inner mrm"}
      %div{:class => "hd"} 
        %h3= t.title.browse
      %div{:class => "bd"}
        %p
          %ul
            - r18n.available_locales.each do |locale|
              %li
                %a{ href: "/#{locale.code}/" }= locale.title








            