-# This page is the landing page, a page for people to get to if they
-# haven't search for anything, or haven't clicked a context sensitive
-# help link
:javascript
  $(document).ready(function() 
    { 
     $(".sort_table").tablesorter({
     cssAsc: "ascending",
     cssDesc: "descending"
     headers: { 
            0: { 
                sorter: false 
            }, 
     });
    });

:javascript
  $(function() { 
    var theTable = $('table#deliverables')

    $("#filter").keyup(function() {
      $.uiTableFilter( theTable, this.value );
    })

    $('#filter-form').submit(function(){
      theTable.find("tbody > tr:visible > td:eq(1)").mousedown();
      return false;
    }).focus(); //Give focus to input field
    
  });  



                                
%div{:class => "page liquid body mal"}
  %div{:class => "line mal rtm"}
    %div{:class => "unit size1of2 mrm"}
      %div{:class => "box callout chatty"} 
        %div{:class => "inner"}
          %div{:class => "hd"}
            %div{:class => "mtm mls mbm"} 
              %img{:src => "/portal_images/getting_started_icon.png",
                   :style => "vertical-align: middle;"}
              %h3{:class => "landingboxtitles"}
                = t.title.first_time
            %div{:class => "bd line"}
              %div{:class => "unit size1of2"}
                %ul{:class => "bulletList",
                    :style => "font-weight: bold;"}
                  %li
                    %a{:href => "http://www.salesforce.com/_app/video/database/help/database_console.jsp"}
                      Introducing Databse.com Video                  
                  %li
                    %a{:href => "/dbcom/#{@locale}/db_intro/quickstart_intro.htm"}
                      Getting Started with Database.com
                  %li
                    %a{:href => "http://www.salesforce.com/us/developer/docs/workbook_database/workbook_database.pdf"}
                      Database.com Workbook
              %div{:class => "unit size1of2 last"}
                %ul{:class => "bulletList",
                    :style => "font-weight: bold;"}
                  %li
                    %a{:href => "http://www.salesforce.com/_app/video/database/help/database_console.jsp"}
                      Introducing Databse.com Video                  
                  %li
                    %a{:href => "http://www.salesforce.com/us/developer/docs/dbcom_intro/index.htm"}
                      Getting Started with Database.com
                  %li
                    %a{:href => "http://docs.database.com"}
                      Database.com User's Guide
    %div{:class=> "unit size1of2 mrm lastUnit"}
      %div{:class => "box callout chatty"}
        %div{:class => "inner"}
          %div{:class => "hd"}
            %div{:class => "mtm mls mbm"}
              %img{:src => "/portal_images/popular_icon.png",
                   :style => "vertical-align: middle;"}
              %h3{:class => "landingboxtitles"}
                = t.title.popular_content
            %div{:class => "bd line"}
              %div{:class => "unit size1of2"}
                %ul{:class => "bulletList",
                    :style => "font-weight: bold;"}
                  %li
                    %a{:href => "http://www.salesforce.com/us/developer/docs/dbcom_intro/index.htm"}
                      Getting Started with Database.com
                  %li
                    %a{:href => "http://www.salesforce.com/us/developer/docs/workbook_database/workbook_database.pdf"}
                      Database.com Workbook
                  %li
                    %a{:href => "http://blog.database.com/blog/2011/08/30/"}
                      Database.com Short Take Videos
              %div{:class => "unit size1of2 last"}
                %ul{:class => "bulletList",
                    :style => "font-weight: bold;"}
                  %li
                    %a{:href => "http://www.salesforce.com/us/developer/docs/dbcom_intro/index.htm"}
                      Getting Started with Database.com
                  %li
                    %a{:href => "http://www.salesforce.com/us/developer/docs/workbook_database/workbook_database.pdf"}
                      Database.com Workbook
                  %li
                    %a{:href => "http://blog.database.com/blog/2011/08/30/"}
                      Database.com Short Take Videos
  %div
    %div{:class => "h3 mll"}
      = t.landing.guides_title
    %div{:class => "box themed"}
      %div{:class => "inner mal"}
        %div{:class => "hd mas"}
          %form{:id=>"filter-form"}
            %input{:name => "filter",
                   :type=>"text",
                   :id=>"filter",
                   :value => "",
                   :maxlength => "30",
                   :size => "30",
                   :placeholder => t.filter.placeholder}
        %div{:class => "bd data colSort"}
          %table{:class => "txtL sort_table search_results",
                 :style => "table-layout:fixed",
                 :id => "deliverables"}
            %col
            %col{:width => "10%"}
            %col{:width => "10%"}
            %col{:width => "10%"}
            %thead
              %tr
                %th{:class => "sortable sorted header h6",
                    :title => "title",
                    :scope => "col"}
                  = t.landing.guides_table_title
                %th{:class => "sortable sorted header h6",
                    :title => "type",
                    :scope => "col",
                    :filter => "false"}
                  = t.landing.guides_table_type
                %th{:class => "sortable sorted header h6",
                    :title => "area",
                    :scope => "col",
                    :filter => "false"}
                  = t.landing.guides_table_feature_area
                %th{:class => "sortable sorted header h6",
                    :title => "updated",
                    :scope => "col",
                    :filter => "false"}
                  = t.landing.guides_table_updated
              -# @todo These values must be auto-populated ... from what?
            %tbody{:class => "content"}
              %tr
                %td
                  %img{:src => "/portal_images/guide_icon.png"}
                  %a{:href=>"/dbcom/en-us/db_help/index.htm"}
                    Database.com User's Guide
                %td
                  Guide
                %td
                  database.com
                %td
                  April 1, 2012
              %tr
                %td
                  %img{:src => "/portal_images/guide_icon.png"}
                  %a{:href=>"/dbcom/en-us/db_intro/quickstart_intro.htm"}
                    Getting Started with Database.com
                %td
                  Guide
                %td
                  Database.com
                %td
                  April 1, 2012
              %tr
                %td
                  %img{:src => "/portal_images/guide_icon.png"}
                  %a{:href=>"dbcom_rest_index.htm"}
                    Database.com REST API Developer's Guide
                %td
                  Guide
                %td
                  REST API
                %td
                  April 1, 2012

              %tr
                %td
                  %img{:src => "/portal_images/guide_icon.png"}
                  %a{:href=>"/dbcom/en-us/db_apex/apex_intro.htm"}
                    Database.com Apex Code Developer's Guide
                %td
                  Guide
                %td
                  Apex
                %td
                  April 1, 2012

              %tr
                %td
                  %img{:src => "/portal_images/guide_icon.png"}
                  %a{:href=>"/dbcom/en-us/db_obj_ref/sforce_api_objects_concepts.htm"}
                    Database.com Object Reference
                %td
                  Guide
                %td
                  database.com
                %td
                  April 1, 2012

              %tr
                %td
                  %img{:src => "/portal_images/guide_icon.png"}
                  %a{:href=>"/dbcom/en-us/db_rest_api/intro_what_is_chatter_connect.htm"}
                    Database.com Chatter REST API Developer's Guide
                %td
                  Guide
                %td
                  API
                %td
                  April 1, 2012

              %tr
                %td
                  %img{:src => "/portal_images/guide_icon.png"}
                  %a{:href=>"/db_sosl_soql/sforce_api_calls_soql.htm"}
                    Database.com SOQL/SOSL Reference
                %td
                  Guide
                %td
                  SOQL, SOSL
                %td
                  April 1, 2012

              %tr
                %td
                  %img{:src => "/portal_images/guide_icon.png"}
                  %a{:href=>"/dbcom/en-us/db_bulk_api/asynch_api_intro.htm"}
                    Database.com Bulk API Developer’s Guide
                %td
                  Guide
                %td
                  Bulk API
                %td
                  April 1, 2012

              %tr
                %td
                  %img{:src => "/portal_images/guide_icon.png"}
                  %a{:href=>"/dbcom/en-us/db_streaming_api/intro_stream.htm"}
                    Database.com Streaming API Developer’s Guide
                %td
                  Guide
                %td
                  Streaming API
                %td
                  April 1, 2012

              %tr
                %td
                  %img{:src => "/portal_images/guide_icon.png"}
                  %a{:href=>"/dbcom/en-us/db_metadata_api/meta_intro.htm"}
                    Database.com Metadata API Developer's Guide
                %td
                  Guide
                %td
                  Metadata API
                %td
                  April 1, 2012
