-# This page is the landing page, a page for people to get to if they
-# haven't search for anything, or haven't clicked a context sensitive
-# help link
:javascript
  $(function() { 
    var theTable = $('table#deliverables')

    $("#filter").keyup(function() {
      $.uiTableFilter( theTable, this.value );
    })

    $('#filter-form').submit(function(){
      theTable.find("tbody > tr:visible > td:eq(1)").mousedown();
      return false;
    }).focus(); //Give focus to input field
    
  });
                                
%div{:class => "page liquid body mal"}
  %div{:class => "line mal rtm"}
    %div{:class => "unit size1of2 mrm"}
      %div{:class => "box callout chatty"} 
        %div{:class => "inner"}
          %div{:class => "hd"}
            %div{:class => "mtm mls mbm"} 
              %img{:src => "/portal_images/getting_started_icon.png",
                   :style => "vertical-align: middle;"}
              %h3{:class => "landingboxtitles"}
                = t.title.first_time
            %div{:class => "bd line"}
              %div{:class => "unit size1of2"}
                %ul{:class => "bulletList",
                    :style => "font-weight: bold;"}
                  %li
                    %a{:href => "http://www.salesforce.com/_app/video/database/help/database_console.jsp"}
                      Video: Introducing Database.com
                  %li
                    %a{:href=>"(http://blog.database.com/blog/category/short-takes/"}
                      Videos: Database.com Short Takes
                  %li
                    %a{:href=>"/dbcom/#{@locale}/db_intro/dbcom_Database_com_Overview.htm"}
                      Database.com Overview
              %div{:class => "unit size1of2 last"}
                %ul{:class => "bulletList",
                    :style => "font-weight: bold;"}
                  %li
                    %a{:href => "/dbcom/#{@locale}/dbcom_workbook/workbook_preface.htm"}
                      Database.com Workbook
                  %li
                    %a{:href => "/dbcom/#{@locale}/mobile_workbook/mobile_intro.htm"}
                      Mobile SDK Workbook
                  %li
                    %a{:href=>"/dbcom/#{@locale}/db_help/integrate_what_is_api.htm"}
                      Which API Should I Use?
    %div{:class=> "unit size1of2 mrm lastUnit"}
      %div{:class => "box callout chatty"}
        %div{:class => "inner"}
          %div{:class => "hd"}
            %div{:class => "mtm mls mbm"}
              %img{:src => "/portal_images/popular_icon.png",
                   :style => "vertical-align: middle;"}
              %h3{:class => "landingboxtitles"}
                = t.title.popular_content
            %div{:class => "bd line"}
              %div{:class => "unit size1of2"}
                %ul{:class => "bulletList",
                    :style => "font-weight: bold;"}
                  %li
                    %a{:href => "/dbcom/#{@locale}/db_apex/apex_reference.htm"}
                      Database.com Limits
                  %li
                    %a{:href => "/dbcom/#{@locale}/data_loader/command_line_intro.htm"}
                      Data Loader Quick Start
                  %li
                    %a{:href => "/dbcom/#{@locale}/db_rest_api/resources_list.htm"}
                      REST API Reference
              %div{:class => "unit size1of2 last"}
                %ul{:class => "bulletList",
                    :style => "font-weight: bold;"}
                  %li
                    %a{:href => "/dbcom/#{@locale}/db_sosl_soql/sforce_api_calls_soql.htm"}
                      Database.com SOQL and SOSL Reference
                  %li
                    %a{:href => "/dbcom/#{@locale}/db_apex/apex_methods_systm.htm"}
                      Apex Classes and Methods
                  %li
                    %a{:href => "/dbcom/#{@locale}/db_apex/apex_testing_unit_tests.htm"}
                      Unit Testing Apex
  %div
    %div{:class => "h3 mll"}
      = t.landing.guides_title
    %div{:class => "box themed standardBg"}
      %div{:class => "inner mal"}
        %div{:class => "hd mas"}
          %form{:id=>"filter-form"}
            %input{:name => "filter",
                   :type=>"text",
                   :id=>"filter",
                   :maxlength => "30",
                   :size => "30",
                   :title => t.filter.placeholder,
                   :placeholder => t.filter.placeholder}
        %div{:class => "bd data colSort"}
          %table{:class => "txtL sort_table search_results",
                 :style => "table-layout:fixed",
                 :id => "deliverables"}
            %col
            %col{:width => "10%"}
            %col{:width => "10%"}
            %col{:width => "10%"}
            %thead
              %tr
                %th{:class => "sortable sorted header h6",
                    :title => "title",
                    :scope => "col"}
                  = t.landing.guides_table_title
                %th{:class => "sortable sorted header h6",
                    :title => "type",
                    :scope => "col",
                    :filter => "false"}
                  = t.landing.guides_table_type
                %th{:class => "sortable sorted header h6",
                    :title => "area",
                    :scope => "col",
                    :filter => "false"}
                  = t.landing.guides_table_feature_area
                %th{:class => "sortable sorted header h6",
                    :title => "updated",
                    :scope => "col",
                    :filter => "false"}
                  = t.landing.guides_table_updated
              -# @todo These values must be auto-populated ... from what?
            %tbody{:class => "content"}
              %tr
                %td
                  %img{:src => "/portal_images/guide_icon.png",
                  :class => "middle"}
                  %a{:href=>"/dbcom/en-us/db_help/index.htm",
                     :class => "middle"}
                    Database.com Console User's Guide
                  %p{:class => "mll, dev_desc"}
                    A guide to managing your organization and data through the Database.com user interface
                %td
                  Guide
                %td

                %td
                  April 1, 2012
              %tr
                %td
                  %img{:src => "/portal_images/guide_icon.png",
                       :class => "middle"}
                  %a{:href=>"/dbcom/en-us/db_intro/quickstart_intro.htm",
                     :class => "middle"}
                    Getting Started with Database.com
                  %p{:class => "mll, dev_desc"}


                %td
                  Guide
                %td

                %td
                  April 1, 2012
              %tr
                %td
                  %img{:src => "/portal_images/guide_icon.png",
                       :class => "middle"}
                  %a{:href=>"/dbcom/en-us/db_rest_api/intro_what_is_rest_api.htm",
                     :class => "middle"}
                    Database.com REST API Developer's Guide
                  %p{:class => "mll, dev_desc"}
                    A guide to using Database.com’s REST-based data API for accessing objects in your organization.
                %td
                  Guide
                %td
                  REST API
                %td
                  April 1, 2012

              %tr
                %td
                  %img{:src => "/portal_images/guide_icon.png",
                       :class => "middle"}
                  %a{:href=>"/dbcom/en-us/db_apex/apex_intro.htm",
                     :class => "middle"}
                    Database.com Apex Code Developer's Guide
                  %p{:class => "mll, dev_desc"}
                    Developer&#x2019;s Guide for Apex, the proprietary object-oriented programming language that allows you to write database triggers and add business logic.
                %td
                  Guide
                %td
                  Apex
                %td
                  April 1, 2012

              %tr
                %td
                  %img{:src => "/portal_images/guide_icon.png",
                       :class => "middle"}
                  %a{:href=>"/dbcom/en-us/db_obj_ref/sforce_api_objects_concepts.htm",
                     :class => "middle"}
                    Database.com Object Reference
                  %p{:class => "mll, dev_desc"}
                    A list of the standard fields for standard objects in Database.com, including each field's label, data type, maximum length,
                    precision, and scale.
                %td
                  Guide
                %td

                %td
                  April 1, 2012

              %tr
                %td
                  %img{:src => "/portal_images/guide_icon.png",
                       :class => "middle"}
                  %a{:href=>"/dbcom/en-us/db_rest_api/intro_what_is_chatter_connect.htm",
                     :class => "middle"}
                    Database.com Chatter REST API Developer's Guide
                  %p{:class => "mll, dev_desc"}
                    Developer’s guide for Chatter REST API, a programmatic way to access Chatter feeds and social data.
                %td
                  Guide
                %td
                  Chatter REST API
                %td
                  April 1, 2012

              %tr
                %td
                  %img{:src => "/portal_images/guide_icon.png",
                       :class => "middle"}
                  %a{:href=>"/dbcom/en-us/db_sosl_soql/sforce_api_calls_soql.htm",
                     :class => "middle"}
                    Database.com SOQL/SOSL Reference
                  %p{:class => "mll, dev_desc"}
                    Reference and samples for querying data.
                %td
                  Guide
                %td
                  SOQL, SOSL
                %td
                  April 1, 2012

              %tr
                %td
                  %img{:src => "/portal_images/guide_icon.png",
                       :class => "middle"}
                  %a{:href=>"/dbcom/en-us/db_bulk_api/asynch_api_intro.htm",
                     :class => "middle"}
                    Database.com Bulk API Developer’s Guide
                  %p{:class => "mll, dev_desc"}
                    Reference for the REST-based Bulk API, a way of rapidly loading large quantities of records into Database.com.
                %td
                  Guide
                %td
                  Bulk API
                %td
                  April 1, 2012

              %tr
                %td
                  %img{:src => "/portal_images/guide_icon.png",
                       :class => "middle"}
                  %a{:href=>"/dbcom/en-us/db_streaming_api/intro_stream.htm",
                     :class => "middle"}
                    Database.com Streaming API Developer’s Guide
                  %p{:class => "mll, dev_desc"}
                    Developer’s Guide that contains information about how Streaming API works as well as a quick start and code examples.
                    Streaming API enables you to receive events for changes to  Database.com data that matches a SOQL query you define.
                %td
                  Guide
                %td
                  Streaming API
                %td
                  April 1, 2012

              %tr
                %td
                  %img{:src => "/portal_images/guide_icon.png",
                       :class => "middle"}
                  %a{:href=>"/dbcom/en-us/db_metadata_api/meta_intro.htm",
                     :class => "middle"}
                    Database.com Metadata API Developer's Guide
                  %p{:class => "mll, dev_desc"}
                    Reference for the Metadata API, a way of retrieving and deploying setup information in your organization.
                %td
                  Guide
                %td
                  Metadata API
                %td
                  April 1, 2012
              %tr
                %td
                  %img{:src => "/portal_images/guide_icon.png",
                       :class => "middle"}
                  %a{:href=>"/dbcom/en-us/db_soap_api/sforce_api_quickstart_intro.htm",
                     :class => "middle"}
                    SOAP API Guide
                  %p{:class => "mll, dev_desc"}
                    A guide to using the Force.com SOAP API. Note that this guide includes details about functionality related to the Salesforce.com Sales
                    Cloud and Service Cloud applications that is not available in Database.com.
                %td
                  Guide
                %td
                  SOAP API
                %td
                  April 1, 2012
              %tr
                %td
                  %img{:src => "/portal_images/notes_icon.png",
                       :class => "middle"}
                  %a{:href=>"/dbcom/en-us/db_rel_notes/rn_about_release_notes.htm",
                     :class => "middle"}
                    Summer '12 Release Notes
                  %p{:class => "mll, dev_desc"}
                    
                %td
                  Release Notes
                %td

                %td
                  April 1, 2012
              %tr
                %td
                  %img{:src => "/portal_images/tutorial_icon.png",
                       :class => "middle"}
                    %a{:href => "http://www.salesforce.com/us/developer/docs/workbook_database/workbook_database.pdf",
                       :class => "middle"}
                      Database.com Workbook
                  %p{:class => "mll, dev_desc"}
                    
                %td
                  Workbook
                %td

                %td
                  April 1, 2012
              %tr
                %td
                  %img{:src => "/portal_images/tutorial_icon.png",
                       :class => "middle"}
                  %a{:href => "/dbcom/#{@locale}/mobile_workbook/mobile_intro.htm",
                     :class => "middle"}
                    Mobile SDK Workbook
                  %p{:class => "mll, dev_desc"}
                    
                %td
                  Workbook
                %td
                  Mobile
                %td
                  April 1, 2012
              %tr
                %td
                  %img{:src => "/portal_images/recorder_ico.png",
                       :class => "middle"}
                  %a{:href => "http://www.salesforce.com/_app/video/database/help/database_console.jsp",
                     :class => "middle"}
                    Introducing Database.com Video                  
                  %p{:class => "mll, dev_desc"}
                    
                %td
                  Video
                %td

                %td
                  April 1, 2012
              %tr
                %td
                  %img{:src => "/portal_images/guide_icon.png",
                       :class => "middle"}
                  %a{:href => "/dbcom/#{@locale}/data_loader/command_line_intro.htm",
                     :class => "middle"}
                    Data Loader Command Line Quick Start
                  %p{:class => "mll, dev_desc"}
                    Step-by-step instructions for setting up and configuring the Data Loader using the command-line interface. interface.
                %td
                  Guide
                %td

                %td
                  April 1, 2012
              %tr
                %td
                  %img{:src => "/portal_images/recorder_ico.png",
                       :class => "middle"}
                  %a{:href => "http://blog.database.com/blog/2011/08/30/short-take-001/",
                     :class => "middle"}
                    Short Take #1: Quick Tour of the console
                  %p{:class => "mll, dev_desc"}
                    This episode is a brief tour of the Database.com Console, the tool you’ll use to do all sorts of things with your database, including common administration tasks,
                    app schema design, and security policy implementations.
                %td
                  Video
                %td

                %td
                  April 1, 2012
              %tr
                %td
                  %img{:src => "/portal_images/recorder_ico.png",
                       :class => "middle"}
                  %a{:href => "http://blog.database.com/blog/2011/08/30/short-take-002/",
                     :class => "middle"}
                    Short Take #2: Orgs and Sandboxes
                  %p{:class => "mll, dev_desc"}
                    When your app uses Database.com, all of the complicated, time-consuming, and costly problems related to database provisioning, configuration, and management don’t exist thanks
                    to orgs and sandboxes. In this episode, you’ll learn about these basic terms and concepts and how to create a sandbox.
                %td
                  Video
                %td

                %td
                  April 1, 2012
              %tr
                %td
                  %img{:src => "/portal_images/recorder_ico.png",
                       :class => "middle"}
                  %a{:href => "http://blog.database.com/blog/2011/08/30/short-take-003/",
                     :class => "middle"}
                    Short Take #3: Your first Object and Standard Fields
                  %p{:class => "mll, dev_desc"}
                    With Database.com, it’s easy to create an object (aka table) for storing application data. This episode shows you how to get started. Along the way, you’ll learn about standard
                    fields and API names.
                %td
                  Video
                %td

                %td
                  April 1, 2012
              %tr
                %td
                  %img{:src => "/portal_images/recorder_ico.png",
                       :class => "middle"}
                  %a{:href => "http://blog.database.com/blog/2011/08/30/short-take-004/",
                     :class => "middle"}
                    Short Take #4: Data Types and Custom Fields
                  %p{:class => "mll, dev_desc"}
                    When you design objects for your app, you’ll need to create custom fields with the correct data types to store your data. This episode gets you started.
                %td
                  Video
                %td

                %td
                  April 1, 2012
              %tr
                %td
                  %img{:src => "/portal_images/recorder_ico.png",
                       :class => "middle"}
                  %a{:href => "http://blog.database.com/blog/2011/08/30/short-take-005/",
                     :class => "middle"}
                    Short Take #5: Workbench Tour
                  %p{:class => "mll, dev_desc"}
                    To browse and manipulate Database.com data, view your org’s metadata, or execute some code, you can use a handy tool called Workbench. This episode is a quick preview of the
                    power of Workbench.
                %td
                  Video
                %td

                %td
                  April 1, 2012
              %tr
                %td
                  %img{:src => "/portal_images/recorder_ico.png",
                       :class => "middle"}
                  %a{:href => "http://blog.database.com/blog/2011/08/30/short-take-006/",
                     :class => "middle"}
                    Short Take #6: Relate a Master and Detail Object
                  %p{:class => "mll, dev_desc"}
                    Want to build new relationships? This episode can help you learn how … with Database.com master-detail object relationships. You’ll also see how to use Workbench to
                    work with related records.
                %td
                  Video
                %td

                %td
                  April 1, 2012
              %tr
                %td
                  %img{:src => "/portal_images/recorder_ico.png",
                       :class => "middle"}
                  %a{:href => "http://blog.database.com/blog/2011/08/30/short-take-007/",
                     :class => "middle"}
                    Short Take #7: Create a Roll-Up Summary field
                  %p{:class => "mll, dev_desc"}
                    This episode shows you how to add a roll-up summary field to a master object that aggregates information in a master record from related detail records. All with a few
                    clicks of your mouse and without any code!
                %td
                  Video
                %td

                %td
                  April 1, 2012
              %tr
                %td
                  %img{:src => "/portal_images/recorder_ico.png",
                       :class => "middle"}
                  %a{:href => "http://blog.database.com/blog/2011/08/30/short-take-008/",
                     :class => "middle"}
                    Short Take #8
                  %p{:class => "mll, dev_desc"}
                    Data integrity enforcement by the database helps ensure that apps are working with valid data. In this episode, you’ll explore many features that Database.com has to help
                    enforce data integrity, including basic data types, unique and required fields, and validation rules.
                %td
                  Video
                %td

                %td
                  April 1, 2012
