-# This page is the landing page, a page for people to get to if they
-# haven't search for anything, or haven't clicked a context sensitive
-# help link

-# @todo Do I need add a way for elements to be hidden from non-English languages?

:javascript
  $(function() { 
    var theTable = $('table#deliverables')

    $("#filter").keyup(function() {
      $.uiTableFilter( theTable, this.value );
    })

    $('#filter-form').submit(function(){
      theTable.find("tbody > tr:visible > td:eq(1)").mousedown();
      return false;
    }).focus(); //Give focus to input field
  });

:javascript
  $(document).ready(function() { 
    $("#deliverables").tablesorter({ 
        sortList: [[0,0],[2,0]] 
    }); 
    }); 
                                
%div{:class => "page liquid body mal"}
  %div{:class => "line mal rtm"}
    %div{:class => "unit size1of2 mrm"}
      %div{:class => "box callout chatty"} 
        %div{:class => "inner"}
          %div{:class => "hd"}
            %div{:class => "mtm mls mbm"} 
              %img{:src => "/portal_images/getting_started_icon.png",
                   :style => "vertical-align: middle;"}
              %h3{:class => "landingboxtitles"}
                = t.landing.title.first_time
            %div{:class => "bd line"}
              %div{:class => "unit size1of2"}
                %ul{:class => "bulletList",
                    :style => "font-weight: bold;"}
                  %li
                    %a{:href => t.landing.deliverable.video.intro.url}
                      = t.landing.deliverable.video.intro.title
                  %li
                    %a{:href=>t.landing.deliverable.video.short_takes_blog.url}
                      = t.landing.deliverable.video.short_takes_blog.title
                  %li
                    %a{:href=>"/dbcom/#{@locale}/db_intro/dbcom_Database_com_Overview.htm"}
                      = t.landing.deliverable.guide.overview.title
              %div{:class => "unit size1of2 last"}
                %ul{:class => "bulletList",
                    :style => "font-weight: bold;"}
                  %li
                    %a{:href => "/dbcom/#{@locale}/dbcom_workbook/workbook_preface.htm"}
                      = t.landing.deliverable.guide.dbcom_workbook.title
                  %li
                    %a{:href => "/dbcom/#{@locale}/mobile_workbook/mobile_intro.htm"}
                      = t.landing.deliverable.guide.mobile_workbook.title
                  %li
                    %a{:href=>"/dbcom/#{@locale}/db_help/integrate_what_is_api.htm"}
                      = t.landing.deliverable.guide.which_api.title
    %div{:class=> "unit size1of2 mrm lastUnit"}
      %div{:class => "box callout chatty"}
        %div{:class => "inner"}
          %div{:class => "hd"}
            %div{:class => "mtm mls mbm"}
              %img{:src => "/portal_images/popular_icon.png",
                   :style => "vertical-align: middle;"}
              %h3{:class => "landingboxtitles"}
                = t.landing.title.popular_content
            %div{:class => "bd line"}
              %div{:class => "unit size1of2"}
                %ul{:class => "bulletList",
                    :style => "font-weight: bold;"}
                  %li
                    %a{:href => "/dbcom/#{@locale}/data_loader/data_loader.htm"}
                      = t.landing.deliverable.guide.limits.title
                  %li
                    %a{:href => "/dbcom/#{@locale}/data_loader/command_line_intro.htm"}
                      = t.landing.deliverable.guide.quick_start.title
                  %li
                    %a{:href => "/dbcom/#{@locale}/db_rest_api/resources_list.htm"}
                      = t.landing.deliverable.guide.rest_api.title
              %div{:class => "unit size1of2 last"}
                %ul{:class => "bulletList",
                    :style => "font-weight: bold;"}
                  %li
                    %a{:href => "/dbcom/#{@locale}/db_sosl_soql/sforce_api_calls_soql.htm"}
                      = t.landing.deliverable.guide.sosl_soql.title
                  %li
                    %a{:href => "/dbcom/#{@locale}/db_apex/apex_methods_system.htm"}
                      = t.landing.deliverable.guide.classes_and_methods.title
                  %li
                    %a{:href => "/dbcom/#{@locale}/db_apex/apex_testing_unit_tests.htm"}
                      = t.landing.deliverable.guide.unit_testing.title
  %div
    %div{:class => "h3 mll"}
      = t.landing.table.title
    %div{:class => "box themed standardBg"}
      %div{:class => "inner mal"}
        %div{:class => "hd mas"}
          %form{:id=>"filter-form"}
            %input{:name => "filter",
                   :type=>"text",
                   :id=>"filter",
                   :maxlength => "30",
                   :size => "30",
                   :title => t.landing.filter.placeholder,
                   :placeholder => t.landing.filter.placeholder}
        %div{:class => "bd data colSort"}
          %table{:class => "txtL sort_table search_results",
                 :style => "table-layout:fixed",
                 :id => "deliverables"}
            %col
            %col{:width => "10%"}
            %col{:width => "10%"}
            %col{:width => "10%"}
            %thead
              %tr
                %th{:class => "sortable sorted header h6",
                    :title => "title",
                    :scope => "col"}
                  = t.landing.table.title_col
                %th{:class => "sortable sorted header h6",
                    :title => "type",
                    :scope => "col",
                    :filter => "false"}
                  = t.landing.table.type_col
                %th{:class => "sortable sorted header h6",
                    :title => "area",
                    :scope => "col",
                    :filter => "false"}
                  = t.landing.table.area_col
                %th{:class => "sortable sorted header h6",
                    :title => "updated",
                    :scope => "col",
                    :filter => "false"}
                  = t.landing.table.updated_col
              -# @todo These values must be auto-populated ... from what?
            %tbody{:class => "content"}
              %tr
                %td
                  %img{:src => "/portal_images/guide_icon.png",
                  :class => "middle"}
                  %a{:href=>"/dbcom/#{@locale}/db_help/index.htm",
                     :class => "middle"}
                    = t.landing.deliverable.guide.console.title
                  %p{:class => "mll, dev_desc"}
                    = t.landing.deliverable.guide.console.description
                %td
                  = t.landing.deliverable.guide_name
                %td

                %td
                  = t.landing.deliverable.guide.console.updated
              %tr
                %td
                  %img{:src => "/portal_images/guide_icon.png",
                       :class => "middle"}
                  %a{:href=>"/dbcom/#{@locale}/db_intro/quickstart_intro.htm",
                     :class => "middle"}
                    = t.landing.deliverable.guide.getting_started.title
                  %p{:class => "mll, dev_desc"}
                    = t.landing.deliverable.guide.getting_started.description
                %td
                  = t.landing.deliverable.guide_name
                %td

                %td
                  = t.landing.deliverable.guide.getting_started.updated
              %tr
                %td
                  %img{:src => "/portal_images/guide_icon.png",
                       :class => "middle"}
                  %a{:href=>"/dbcom/#{@locale}/db_rest_api/intro_what_is_rest_api.htm",
                     :class => "middle"}
                    = t.landing.deliverable.guide.rest_api.title
                  %p{:class => "mll, dev_desc"}
                    = t.landing.deliverable.guide.rest_api.description
                %td
                  = t.landing.deliverable.guide_name
                %td
                  = t.landing.area.rest_name
                %td
                  = t.landing.deliverable.guide.rest_api.updated
                    
              %tr
                %td
                  %img{:src => "/portal_images/guide_icon.png",
                       :class => "middle"}
                  %a{:href=>"/dbcom/#{@locale}/db_apex/apex_intro.htm",
                     :class => "middle"}
                    = t.landing.deliverable.guide.apex_dev_guide.title
                  %p{:class => "mll, dev_desc"}
                    = t.landing.deliverable.guide.apex_dev_guide.description                    
                %td
                  = t.landing.deliverable.guide_name
                %td
                  = t.landing.area.apex_name
                %td
                  = t.landing.deliverable.guide.apex_dev_guide.updated
              %tr
                %td
                  %img{:src => "/portal_images/guide_icon.png",
                       :class => "middle"}
                  %a{:href=>"/dbcom/#{@locale}/db_obj_ref/sforce_api_objects_concepts.htm",
                     :class => "middle"}
                    = t.landing.deliverable.guide.object_reference.title                                        
                  %p{:class => "mll, dev_desc"}
                    = t.landing.deliverable.guide.object_reference.description                    
                %td
                  = t.landing.deliverable.guide_name
                %td

                %td
                  = t.landing.deliverable.guide.object_reference.updated

              %tr
                %td
                  %img{:src => "/portal_images/guide_icon.png",
                       :class => "middle"}
                  %a{:href=>"/dbcom/#{@locale}/db_rest_api/intro_what_is_rest_api.htm",
                     :class => "middle"}
                    = t.landing.deliverable.guide.chatter_rest_api.title
                  %p{:class => "mll, dev_desc"}
                    = t.landing.deliverable.guide.chatter_rest_api.description
                %td
                  = t.landing.deliverable.guide_name
                %td
                  = t.landing.area.rest_name
                %td
                  = t.landing.deliverable.guide.chatter_rest_api.updated

              %tr
                %td
                  %img{:src => "/portal_images/guide_icon.png",
                       :class => "middle"}
                  %a{:href=>"/dbcom/#{@locale}/db_sosl_soql/sforce_api_calls_soql.htm",
                     :class => "middle"}
                    = t.landing.deliverable.guide.sosl_soql.title
                  %p{:class => "mll, dev_desc"}
                    = t.landing.deliverable.guide.sosl_soql.description
                %td
                  = t.landing.deliverable.guide_name
                %td
                  = t.landing.area.soql_and_sosl
                %td
                  = t.landing.deliverable.guide.sosl_soql.updated

              %tr
                %td
                  %img{:src => "/portal_images/guide_icon.png",
                       :class => "middle"}
                  %a{:href=>"/dbcom/#{@locale}/db_bulk_api/asynch_api_intro.htm",
                     :class => "middle"}
                    = t.landing.deliverable.guide.bulk_api.title
                  %p{:class => "mll, dev_desc"}
                    = t.landing.deliverable.guide.bulk_api.description
                %td
                  = t.landing.deliverable.guide_name
                %td
                  = t.landing.area.bulk_api
                %td
                  = t.landing.deliverable.guide.bulk_api.updated

              %tr
                %td
                  %img{:src => "/portal_images/guide_icon.png",
                       :class => "middle"}
                  %a{:href=>"/dbcom/#{@locale}/db_streaming_api/intro_stream.htm",
                     :class => "middle"}
                    = t.landing.deliverable.guide.streaming_api.title                    
                  %p{:class => "mll, dev_desc"}
                    = t.landing.deliverable.guide.streaming_api.description
                %td
                  = t.landing.deliverable.guide_name
                %td
                  = t.landing.area.streaming_api
                %td
                  = t.landing.deliverable.guide.streaming_api.updated

              %tr
                %td
                  %img{:src => "/portal_images/guide_icon.png",
                       :class => "middle"}
                  %a{:href=>"/dbcom/#{@locale}/db_metadata_api/meta_intro.htm",
                     :class => "middle"}
                    = t.landing.deliverable.guide.metadata_api.title                    
                  %p{:class => "mll, dev_desc"}
                    = t.landing.deliverable.guide.metadata_api.description
                %td
                  = t.landing.deliverable.guide_name
                %td
                  = t.landing.area.metadata_api
                %td
                  = t.landing.deliverable.guide.metadata_api.updated
              %tr
                %td
                  %img{:src => "/portal_images/guide_icon.png",
                       :class => "middle"}
                  %a{:href=>"/dbcom/#{@locale}/db_soap_api/sforce_api_quickstart_intro.htm",
                     :class => "middle"}
                    = t.landing.deliverable.guide.soap_api.title
                  %p{:class => "mll, dev_desc"}
                    = t.landing.deliverable.guide.soap_api.description
                %td
                  = t.landing.deliverable.guide_name
                %td
                  = t.landing.area.soap_api
                %td
                  = t.landing.deliverable.guide.soap_api.updated
              %tr
                %td
                  %img{:src => "/portal_images/notes_icon.png",
                       :class => "middle"}
                  %a{:href=>"/dbcom/#{@locale}/db_rel_notes/rn_about_release_notes.htm",
                     :class => "middle"}
                    = t.landing.deliverable.guide.summer_12_relnotes.title
                  %p{:class => "mll, dev_desc"}
                    = t.landing.deliverable.guide.summer_12_relnotes.description
                %td
                  = t.landing.deliverable.relnotes_name
                %td

                %td
                  = t.landing.deliverable.guide.summer_12_relnotes.updated
              %tr
                %td
                  %img{:src => "/portal_images/tutorial_icon.png",
                       :class => "middle"}
                    %a{:href => "/dbcom/#{@locale}/dbcom_workbook/workbook_preface.htm",
                       :class => "middle"}
                      = t.landing.deliverable.guide.dbcom_workbook.title
                  %p{:class => "mll, dev_desc"}
                    = t.landing.deliverable.guide.dbcom_workbook.description
                %td
                  = t.landing.deliverable.workbook_name
                %td

                %td
                  = t.landing.deliverable.guide.dbcom_workbook.updated
              %tr
                %td
                  %img{:src => "/portal_images/tutorial_icon.png",
                       :class => "middle"}
                  %a{:href => "/dbcom/#{@locale}/mobile_workbook/mobile_intro.htm",
                     :class => "middle"}
                    = t.landing.deliverable.guide.mobile_workbook.title
                  %p{:class => "mll, dev_desc"}
                    = t.landing.deliverable.guide.mobile_workbook.description
                %td
                  = t.landing.deliverable.workbook_name
                %td
                  = t.landing.area.mobile
                %td
                  = t.landing.deliverable.guide.mobile_workbook.updated
              %tr
                %td
                  %img{:src => "/portal_images/recorder_ico.png",
                       :class => "middle"}
                  %a{:href => t.landing.deliverable.video.intro.url,
                     :class => "middle"}
                    = t.landing.deliverable.video.intro.title
                  %p{:class => "mll, dev_desc"}
                    = t.landing.deliverable.video.intro.description                    
                %td
                  = t.landing.deliverable.video_name
                %td

                %td
                  = t.landing.deliverable.video.intro.updated
              %tr
                %td
                  %img{:src => "/portal_images/guide_icon.png",
                       :class => "middle"}
                  %a{:href => "/dbcom/#{@locale}/data_loader/command_line_intro.htm",
                     :class => "middle"}
                    = t.landing.deliverable.guide.quick_start.title
                  %p{:class => "mll, dev_desc"}
                    = t.landing.deliverable.guide.quick_start.description
                %td
                  = t.landing.deliverable.guide_name
                %td

                %td
                  = t.landing.deliverable.guide.quick_start.updated
              %tr
                %td
                  %img{:src => "/portal_images/recorder_ico.png",
                       :class => "middle"}
                  %a{:href => t.landing.deliverable.video.short_take_1.url,
                     :class => "middle"}
                    = t.landing.deliverable.video.short_take_1.title
                  %p{:class => "mll, dev_desc"}
                    = t.landing.deliverable.video.short_take_1.description                    
                %td
                  = t.landing.deliverable.video_name
                %td

                %td
                  = t.landing.deliverable.video.short_take_1.updated
              %tr
                %td
                  %img{:src => "/portal_images/recorder_ico.png",
                       :class => "middle"}
                  %a{:href => t.landing.deliverable.video.short_take_2.url,
                     :class => "middle"}
                    = t.landing.deliverable.video.short_take_2.title
                  %p{:class => "mll, dev_desc"}
                    = t.landing.deliverable.video.short_take_2.description                    
                %td
                  = t.landing.deliverable.video_name
                %td

                %td
                  = t.landing.deliverable.video.short_take_2.updated
              %tr
                %td
                  %img{:src => "/portal_images/recorder_ico.png",
                       :class => "middle"}
                  %a{:href => t.landing.deliverable.video.short_take_3.url,
                     :class => "middle"}                                       
                    = t.landing.deliverable.video.short_take_3.title
                  %p{:class => "mll, dev_desc"}
                    = t.landing.deliverable.video.short_take_3.description                    
                %td
                  = t.landing.deliverable.video_name
                %td

                %td
                  = t.landing.deliverable.video.short_take_2.updated
              %tr
                %td
                  %img{:src => "/portal_images/recorder_ico.png",
                       :class => "middle"}
                  %a{:href => t.landing.deliverable.video.short_take_4.url,
                     :class => "middle"}
                    = t.landing.deliverable.video.short_take_4.title
                  %p{:class => "mll, dev_desc"}
                    = t.landing.deliverable.video.short_take_4.description                    
                %td
                  = t.landing.deliverable.video_name
                %td

                %td
                  = t.landing.deliverable.video.short_take_4.updated                    
              %tr
                %td
                  %img{:src => "/portal_images/recorder_ico.png",
                       :class => "middle"}
                  %a{:href => t.landing.deliverable.video.short_take_5.url,
                     :class => "middle"}
                    = t.landing.deliverable.video.short_take_5.title
                  %p{:class => "mll, dev_desc"}
                    = t.landing.deliverable.video.short_take_5.description                    
                %td
                  = t.landing.deliverable.video_name
                %td

                %td
                  = t.landing.deliverable.video.short_take_5.updated
              %tr
                %td
                  %img{:src => "/portal_images/recorder_ico.png",
                       :class => "middle"}
                  %a{:href => t.landing.deliverable.video.short_take_6.url,
                     :class => "middle"}
                    = t.landing.deliverable.video.short_take_6.title
                  %p{:class => "mll, dev_desc"}
                    = t.landing.deliverable.video.short_take_6.description                    
                %td
                  = t.landing.deliverable.video_name
                %td

                %td
                  = t.landing.deliverable.video.short_take_6.updated
              %tr
                %td
                  %img{:src => "/portal_images/recorder_ico.png",
                       :class => "middle"}
                  %a{:href => t.landing.deliverable.video.short_take_7.url,
                     :class => "middle"}
                    = t.landing.deliverable.video.short_take_7.title
                  %p{:class => "mll, dev_desc"}
                    = t.landing.deliverable.video.short_take_7.description                    
                %td
                  = t.landing.deliverable.video_name
                %td

                %td
                  = t.landing.deliverable.video.short_take_7.updated
              %tr
                %td
                  %img{:src => "/portal_images/recorder_ico.png",
                       :class => "middle"}
                  %a{:href => t.landing.deliverable.video.short_take_8.url,
                     :class => "middle"}
                    = t.landing.deliverable.video.short_take_8.title
                  %p{:class => "mll, dev_desc"}
                    = t.landing.deliverable.video.short_take_8.description                    
                %td
                  = t.landing.deliverable.video_name
                %td

                %td
                  = t.landing.deliverable.video.short_take_8.updated
