-# This page is the landing page, a page for people to get to if they
-# haven't search for anything, or haven't clicked a context sensitive
-# help link

:javascript
  $(function() { 
    var theTable = $('table#deliverables')

    $("#filter").keyup(function() {
      $.uiTableFilter( theTable, this.value );
    })

    $('#filter-form').submit(function(){
      theTable.find("tbody > tr:visible > td:eq(1)").mousedown();
      return false;
    }).focus(); //Give focus to input field
  });  

                                
%div{:class => "page liquid body mal"}
  %div{:class => "line mal rtm"}
    %div{:class => "unit size1of2 mrm"}
      %div{:class => "box callout chatty"} 
        %div{:class => "inner"}
          %div{:class => "hd"}
            %div{:class => "mtm mls mbm"} 
              %h3
                = t.title.getting_started
            %div{:class => "bd"}
              %ul{:class => "bulletList"}
                %li
                  = t.landing.first_time_item_one
                %li
                  = t.landing.first_time_item_two
                %li
                  = t.landing.first_time_item_three
    %div{:class=> "unit size1of2 mrm lastUnit"}
      %div{:class => "box callout chatty"}
        %div{:class => "inner"}
          %div{:class => "hd"}
            %div{:class => "mtm mls mbm"} 
              %h3= t.title.popular_content
            %div{:class => "bd"}
              -# @todo Is this what we think is popular?
              %ul{:class => "bulletList"}
                %li
                  = t.landing.popular_item_one
                %li
                  = t.landing.popular_item_two
                %li
                  = t.landing.popular_item_three
  %div
    %div{:class => "h3",
         :style => "text-align: center;"}
      = t.landing.guides_title
    %div{:class => "box themed"}
      %div{:class => "inner mal"}
        %div{:class => "hd mas"}
          %form{:id=>"filter-form"}
            %input{:name => "filter",
                   :type=>"text",
                   :id=>"filter",
                   :value => "",
                   :maxlength => "30",
                   :size => "30",
                   :placeholder => t.filter.placeholder}
        %div{:class => "bd data colSort"}
          %table{:class => "txtL sort_table search_results",
                 :style => "table-layout:fixed",
                 :id => "deliverables"}
            %col{:width => "60px"}
            %col
            %col{:width => "10%"}
            %col{:width => "10%"}
            %col{:width => "10%"}
            %thead
              %tr
                %th{:colspan => "2",
                    :class => "sortable sorted header h6",
                    :title => "title",
                    :scope => "col"}
                  = t.landing.guides_table_title
                %th{:class => "sortable sorted header h6",
                    :title => "type",
                    :scope => "col",
                    :filter => "false"}
                  = t.landing.guides_table_type
                %th{:class => "sortable sorted header h6",
                    :title => "area",
                    :scope => "col",
                    :filter => "false"}
                  = t.landing.guides_table_feature_area
                %th{:class => "sortable sorted header h6",
                    :title => "updated",
                    :scope => "col",
                    :filter => "false"}
                  = t.landing.guides_table_updated
              -# @todo These values must be auto-populated ... from what?
            %tbody{:class => "content"}
              %tr
                %td{:style => "border-width: 0 0 1px 0;"}
                  %img{:src => "/portal_images/guide_icon.png"}
                %td
                  %a{:href=>"index.htm"}
                    Database.com User's Guide
                %td
                  Guide
                %td
                  database.com
                %td
                  Updated when?
              %tr
                %td{:style => "border-width: 0 0 1px 0;"}
                  %img{:src => "/portal_images/guide_icon.png"}
                %td
                  %a{:href=>"getting_started_index.htm"}
                    Getting Started with Database.com
                %td
                  Guide
                %td
                  Database.com
                %td
                  Updated when?
              %tr
                %td{:style => "border-width: 0 0 1px 0;"}
                  %img{:src => "/portal_images/guide_icon.png"}
                %td
                  %a{:href=>"dbcom_rest_index.htm"}
                    Database.com REST API Developer's Guide
                %td
                  Guide
                %td
                  REST API
                %td
                  Updated when?

              %tr
                %td{:style => "border-width: 0 0 1px 0;"}
                  %img{:src => "/portal_images/guide_icon.png"}
                %td
                  %a{:href=>"dbcom_apex_index.htm"}
                    Database.com Apex Code Developer's Guide
                %td
                  Guide
                %td
                  Apex
                %td
                  Updated when?

              %tr
                %td{:style => "border-width: 0 0 1px 0;"}
                  %img{:src => "/portal_images/guide_icon.png"}
                %td
                  %a{:href=>"dbcom_objects_index.htm"}
                    Database.com Object Reference
                %td
                  Guide
                %td
                  database.com
                %td
                  Updated when?

              %tr
                %td{:style => "border-width: 0 0 1px 0;"}
                  %img{:src => "/portal_images/guide_icon.png"}
                %td
                  %a{:href=>"rest_index.htm"}
                    Database.com Chatter REST API Developer's Guide
                %td
                  Guide
                %td
                  API
                %td
                  Updated when?

              %tr
                %td{:style => "border-width: 0 0 1px 0;"}
                  %img{:src => "/portal_images/guide_icon.png"}
                %td
                  %a{:href=>"dbcom_soql_index.htm"}
                    Database.com SOQL/SOSL Reference
                %td
                  Guide
                %td
                  SOQL, SOSL
                %td
                  Updated when?

              %tr
                %td{:style => "border-width: 0 0 1px 0;"}
                  %img{:src => "/portal_images/guide_icon.png"}
                %td
                  %a{:href=>"dbcom_bulk_index.htm"}
                    Database.com Bulk API Developer’s Guide
                %td
                  Guide
                %td
                  Bulk API
                %td
                  Updated when?

              %tr
                %td{:style => "border-width: 0 0 1px 0;"}
                  %img{:src => "/portal_images/guide_icon.png"}
                %td
                  %a{:href=>"dbcom_streaming_index.htm"}
                    Database.com Streaming API Developer’s Guide
                %td
                  Guide
                %td
                  Streaming API
                %td
                  Updated when?

              %tr
                %td{:style => "border-width: 0 0 1px 0;"}
                  %img{:src => "/portal_images/guide_icon.png"}
                %td
                  %a{:href=>"dbcom_metadata_index.htm"}
                    Database.com Metadata API Developer's Guide
                %td
                  Guide
                %td
                  Metadata API
                %td
                  Updated when?

              %tr
                %td{:style => "border-width: 0 0 1px 0;"}
                  %img{:src => "/portal_images/notes_icon.png"}
                %td
                  %a{:href=>"dbcom_relnotes_index.htm"}
                    Spring '12 Database.com Release Notes
                %td
                  Release Notes
                %td
                  database.com
                %td
                  Updated when?
              %tr
                %td{:style => "border-width: 0 0 1px 0;"}
                  %img{:src => "/portal_images/tutorial_icon.png"}
                %td
                  %a{:href=>"dbcom_workbook_index.htm"}
                    Database.com Workbook
                %td
                  Workbook
                %td
                  database.com
                %td
                  Updated when?
              %tr
                %td{:style => "border-width: 0 0 1px 0;"}
                  %img{:src => "/portal_images/tutorial_icon.png"}
                %td
                  %a{:href=>"mobile_sdk_index.htm"}
                    Mobile SDK Workbook
                %td
                  Workbook
                %td
                  database.com
                %td
                  Updated when?
