!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{'http-equiv' => 'Content-Type', :content =>"text/html; charset=UTF-8"}        
      %title
        = @topictitle.to_s.strip.length == 0 ? "#{t.title.main}" : "#{@topictitle}"
      %link{:rel => "stylesheet",
        :type => "text/css",
        :media => "all",
        :href => "/oocss/oocss.css"}
      %script{:type => "text/javascript",
            :src => "/oocss/scripts/jquery-1.7.min.js"}
      %script{:type => "text/javascript",
              :src => "/oocss/scripts/jquery.tablesorter.min.js"}
      :javascript
        $(document).ready(function() 
        { 
         $(".sort_table").tablesorter({cssAsc: "ascending", cssDesc: "descending"});
         } 
         ); 

  %body
    %div{:class => "callout wizardBg mam"}
      %div{:class => "inner"}
        %div{:class => "bd"}
          %div{:style => "float: left"}
            %a{:class=>"img pts",
               :href=>"/dbcom/en-us/index.htm"}
              %img{:alt=>"Database.com cloud",
                   :src=>"/oocss/images/databaselogo_cloud.png",
                   :width => "100px",
                   :height => "70px"}
            %a{:class=>"img techlib",
               :href=>"/dbcom/en-us/index.htm"}
              %img{:src => "/oocss/images/databaselogo_text.gif",
                   :width => "270px",
                   :height => "43px",
                   :class => "pbs"}
              %span{:class => "h2 mls techlib",
                    :style => "color:#FFFFFF"}
                = t.title.main
          %div{:class => "end mtl"}
            %form{:id =>"searchForm",
                  :action => " ",
                  :method => "post"}
              %fieldset
                %div{:class=>"input"}
                  %input{:type=>"text",
                         :id=>"s",
                         :name=>"s",
                         :placeholder=>t.search.placeholder}
                %input{:type=>"submit",
                       :value=>"",
                       :id=>"searchSubmit"}
    %div{:class=>"pdf_button"}
      %a{:class=>"btn primaryBtn",
         :title => "PDF",
         :href=>"/en-us/dbcom_help.pdf",
         :style => "white-space: normal;"}pdf
      %a{:class=>"btn primaryBtn",
         :title => "email",
         :href=>"mailto:?body=#{request.url}",
         :style => "white-space: normal;"}email
  %div{:class => "page liquid body mal"}
    %div{:class => "content mal"}
      =yield
 
    %div{:class => "footer"}
      %p{:style => "text-align: center"}
        = t.misc.copyright
