%div{:class => "line"}
  %div{:class => "box chatty infoBg"}
    %div{:class => "inner"}
      %div{:class => "box infoBg"}
        %div{:class => "data colSort"}
          %h1
            = t.search.tip_title
          %p
            = t.search.tip_intro
          %p
            = t.search.tip_quotes
          %p
            = t.search.tip_wildcards
          %p
            = t.search.tip_plus_minus
          %p 
            = t.search.tip_facets
          %p
            = t.search.tip_filter
            
          
