%div{:class => "line"}
  %div{:class => "box chatty infoBg"}
    %p
      Found #{@results.length} results for "#{query}".
    %div{:class => "inner"}
      %div{:class => "box infoBg"}
        %div{:class => "data colSort"}
          %table{:class => "txtL sort_table"}
            %thead
              %tr
                %th{:scope => "col",
                    :class =>"sortable sorted",
                    :title => t.search_results.th_title}
                  = t.search_results.th_title
                %th{:scope => "col",
                   :class =>"sortable sorted",
                   :title => "updated"}
                  = t.search_results.th_updated
            %tbody{:class => "content"}
              - @search.each_hit_with_result do |hit, post|
                -@localtime = Time.at(hit.result.updated_at.to_i).strftime("%b. %d, %Y")
                %tr
                  %td
                    %div
                      %a{:href => "/#{root}/#{locale}/#{hit.result.topicname}"}
                        = hit.result.title
                      %br
                      = hit.highlight(:content).format { |word| "<span class=\"highlight\">#{word}</span>" }
                  %td= @localtime














