:javascript
  $(function() { 
    var theTable = $('table#deliverables')
    var hiddenRows

    $("#filter").keyup(function() {
      $.uiTableFilter( theTable, this.value );
      hiddenRows = $("table#deliverables tbody tr").filter(":not(:hidden)");
      $("#searchTotal").text(hiddenRows.length);
    })

    $('#filter-form').submit(function(){
      theTable.find("tbody > tr:visible > td:eq(1)").mousedown();
      return false;
    }).focus(); //Give focus to input field
  });  

:javascript
  $(document).ready(function() 
    { 
     $(".sort_table").tablesorter({cssAsc: "ascending", cssDesc: "descending"});
     #{
       if (@search.total > 0)
       then
       '$("#noSearchResultsDiv").remove();'
       else
       '$("#searchResultsDiv").remove();'
       end
     }
     var timer;
    });

  function redirect(URL) {
    window.location = URL;
  }

  $(function(){
        $("#tree").dynatree({
        debugLevel:2,
        checkbox: true,
        persist: false,
        selectMode: 3,
        initAjax: { //Eventually get this back from couchdb
          url: "/facets.json",
        },
        onPostInit: function(isReloading, isError) {
        // 'this' is the current tree
        // isReloading is true, if status was read from existing cookies
        // isError is only used in Ajax mode
        #{
             app_area.map{ |area | "this.selectKey('#{area}');"}.join '\n' unless app_area.nil?
          }
        this.getRoot().visit(function(node){
          node.expand(true);
          });
        },
        // Set up the initial state based on the URL
        onSelect: function(select, node) {
        // Get a list of all selected nodes, and convert to a key array:
        var selFeatureAreaKeys = $.map(node.tree.getSelectedNodes(), function(node){
          if (node.isDescendantOf(node.tree.getNodeByKey("FeatureArea"))) {
            return node.data.key;
            }
          });
        var selTypeKeys = $.map(node.tree.getSelectedNodes(), function(node){
          if (node.isDescendantOf(node.tree.getNodeByKey("Type"))) {
            return node.data.key;
            }
          });
        if (select) {
           $("#filterEnum").append('<span class="btn primaryBtn" id="myKey_' + node.data.key + '">' + node.data.title + '</a>');
           if (node.getChildren()) {
             $.map(node.getChildren(),function(node){
               $("#filterEnum").append('<span class="btn primaryBtn" id="myKey_' + node.data.key + '">' + node.data.title + '</a>');
           });}
           } else {
        $("#myKey_" + node.data.key).remove();
        if (node.getChildren()) {
          $.map(node.getChildren(),function(node){
           $("#myKey_" + node.data.key).remove();
          });}}
        #{
          %Q^var redirectURL = '#{@baseURL}/search/#{query}/facet?app_area=' + selFeatureAreaKeys.join(" ") + '&type=' + selTypeKeys.join(" ");^
         }
        #{
         %Q^$("#clickMe").attr('href','#{@baseURL}/search/#{query}/facet?app_area=' + selFeatureAreaKeys.join(" ") + '&type=' + selTypeKeys.join(" "));^
         }
         if(node.tree.isUserEvent() && ((#{@search.total} > 0) || (select))) {
            window.clearTimeout('timer');
            timer = window.setTimeout(function(){redirect(redirectURL)},1000);
          }
          },
      onDblClick: function(node, event) {
        node.toggleSelect();
      }});
      });



%div{:class => "line",
     :id => "searchResultsLine"}
  %div{:class => "unit size1of4",
       :id => "facetDiv"}
    %div{:class=> "box callout chatty mrl"}
      %div{:class => "inner"}
        %div{:class => "hd mts"}
          %span{:class => "h4"}
            = t.facets.title
        %div{:class => "bd",
             :id => "tree"}

  -# This div is for no search results
  %div{:class => "unit size3of4 last_unit",
       :id => "noSearchResultsDiv"}
    %h2
      = t.search.noresults_title
    %p
      %span 
        = t.search.noresults
      %span <b>#{query}</b>
    %p
      %span{:class => "h3"}
        Filters:
    %p{:id => "filterEnum"}

    %div{:class => "data colSort"}
      %h2 Tips on Searching
      %p
        = t.search.tip_intro
      %p
        = t.search.tip_quotes
      %p
        = t.search.tip_wildcards
      %p
        = t.search.tip_plus_minus
  -# This div is for 1 or more search results
  %div{:class => "unit size3of4 last_unit",
       :id => "searchResultsDiv"}
    %div{:class => "box chatty infoBg"}
      %p{:class => "h2"}
        Search Results
      %p{:style => "padding-bottom: 10px; padding-top: 5px;"}
        %span{:id => "searchTotal"}
          = @search.total
        %span 
          = t.search_results.count
          %span <b>#{query}</b>
      %p
        %span{:class => "h3"}
          Filters:
      %p{:id => "filterEnum"}
      %a{:id => "clickMe"}
        
      %div{:class => "inner"}
        %div{:class => "box infoBg"}
          %div{:class => "mbs"}
            %form{:id=>"filter-form"}
              %input{:name => "filter",
                     :type=>"text",
                     :id=>"filter",
                     :value => "",
                     :maxlength => "30",
                     :size => "30",
                     :placeholder => t.search.filter_placeholder}
          %div{:class => "data colSort"}
            %table{:class => "txtL sort_table search_results",
                   :style => "table-layout: fixed;",
                   :id => "deliverables"}

              %thead
                %tr
                  %th{:scope => "col",
                      :class =>"sortable sorted h6",
                      :title => t.search_results.th_title,
                      :style => "width: 70%;"}
                    = t.search_results.th_title
                  %th{:scope => "col",
                      :class =>"sortable sorted h6",
                      :title => "updated",
                      :style => "min-width: 8em;"}
                    = t.search_results.th_type
                  %th{:scope => "col",
                      :class =>"sortable sorted h6",
                      :title => "updated",
                      :style => "min-width: 8em;"}
                    = t.search_results.th_technology
                  %th{:scope => "col",
                      :class =>"sortable sorted h6",
                      :title => "updated",
                      :style => "min-width: 8em;"}
                    = t.search_results.th_updated
              %tbody{:class => "content"}
                - @search.each_hit_with_result do |hit, post|
                  - if (locale == 'en' or locale == 'en-us')
                    - then @localtime = Time.at(hit.result.updated_at.to_i).strftime("%b. %d, %Y")
                    - else @localtime = l Time.at(hit.result.updated_at.to_i).to_date, :full
                  - if (hit.highlight(:content).nil?)
                    - then @snippet = ""
                    - else @snippet = hit.highlight(:content).format { |word| "<span class=\"highlight\">#{word}</span>" }
                  %tr
                    %td
                      %div{:class => "search_results_title mrl"}
                        %a{:href => "/#{root}/#{locale}/#{hit.result.topicname}"}
                          = hit.result.title
                      %div{:class => "mrl"}
                        = @snippet
                    %td
                      Type
                    %td
                      Technology
                    %td= @localtime











