%div{:class => "line"}
  %div{:class => "box chatty infoBg"}
    %p{:class => "h4",
       :style => "padding-bottom: 10px; padding-top: 5px;"}
      %span
        = @search.total
      %span 
        = t.search_results.count
        %span <b>#{query}</b>
    %div{:class => "inner"}
      %div{:class => "box infoBg"}
        %div{:class => "data colSort"}
          %table{:class => "txtL sort_table search_results",
                 :style => "table-layout: fixed;"}
            %thead
              %tr
                %th{:scope => "col",
                    :class =>"sortable sorted h4",
                    :title => t.search_results.th_title,
                    :style => "width: 80%;"}
                  = t.search_results.th_title
                %th{:scope => "col",
                    :class =>"sortable sorted h4",
                    :title => "updated",
                    :style => "min-width: 8em;"}
                  = t.search_results.th_updated
            %tbody{:class => "content"}
              - @search.each_hit_with_result do |hit, post|
                - if (locale == 'en' or locale == 'en-us')
                  - then @localtime = Time.at(hit.result.updated_at.to_i).strftime("%b. %d, %Y")
                  - else @localtime = l Time.at(hit.result.updated_at.to_i).to_date, :full
                - if (hit.highlight(:content).nil?)
                  - then @snippet = ""
                  - else @snippet = hit.highlight(:content).format { |word| "<span class=\"highlight\">#{word}</span>" }
                %tr
                  %td
                    %div{:class => "search_results_title"}
                      %a{:href => "/#{root}/#{locale}/#{hit.result.topicname}"}
                        = hit.result.title
                      %br
                        = @snippet
                  %td= @localtime












