:javascript
  function expandAllNodes(key) {
    $("#tree").dynatree("getRoot").visit(function(node){
      node.expand(true);
    });
  }

  function collapseAllNodes(key) {
    $("#tree").dynatree("getRoot").visit(function(node){
      node.expand(false);
    });
  }
  $(function(){
      $("a[name = 'top'] ~ .body").prepend('<div id="topicTags"><span class="h5 mrl">Tags:</span></div>');
      #{
        @app_keys_and_labels.map{|key, label| %Q^$('#topicTags').append('<a href="/dbcom/#{@locale}/search/facet?app_area=#{key}&type="><span class="btn bluetext pas">#{label}</span></a>');^}.join '\n' unless @app_keys_and_labels.nil?
      }
      if($('div.nextprevarrows').length == 0) {
        $('a[name="top"]').after('<div class="nextprevarrows"></div>');
      }
      $('.nextprevarrows').prepend('<span class="pdf_button"><a class="btn primaryBtn" title="email" href="mailto:?body=#{request.url}" style="white-space: normal;">#{t.topic.button.email}</a></span>');
      $('.pdf_button').prepend('<a class="btn primaryBtn" title="PDF" href="/#{@locale}/#{@relatedpdf}" style="white-space: normal;">#{t.topic.button.pdf}</a>');
      $("#tree").dynatree({
      checkbox: false,
      selectMode: 1,
      initAjax: {
          url: "#{@toc_json_fullURL}",
          cache: true
      },
      onActivate: function(node) {
        #{
             %Q^var baseURL = "#{@baseURL}";^
          }
          #{
             %Q^var guide = "#{@guide}";^
          }
          if(node.tree.isUserEvent()) {
           if (node.data.key.indexOf(".htm") != -1) {
              window.location = baseURL + "/" + guide + "/" + node.data.key;
            } else { // Grab the first child that has an associated html file
              if (node.getChildren()) {
                childArray = node.getChildren();
                for(var i=0;i<childArray.length;i++) {
                if (childArray[i].data.key.indexOf(".htm") != -1) {
                  window.location = baseURL + "/" + guide + "/" + childArray[i].data.key;
                  break;
                  } else { // If this one doesn't, look at it's children.  Yes, this should be a recursive function.
                   if (node.getChildren()) {
                     childArray = node.getChildren();
                     for(var i=0;i<childArray.length;i++) {
                       if (childArray[i].data.key.indexOf(".htm") != -1) {
                        window.location = baseURL + "/" + guide + "/" + childArray[i].data.key;
                        break;
                      }
                  }
              }
              }
            }
            }
            }
            }
      },
      onPostInit: function(isReloading, isError) {
            #{
              %Q^var key = "#{@topickey}";^
            }
            if( key ) {
                this.activateKey(key)
            }
            },
        }
        )

  });

%div{:class => "line"}
  %div{:class => "unit size1of4"}
    %div{:class=> "box callout chatty mrl"}
      %div{:class => "inner"}
        %div{:class => "hd mts"}
          %div{:class => "threequarterssizefont"}
            %a{:onclick => "expandAllNodes();",
               :href => "javascript:void(0);"}
              Expand All
            |             
            %a{:onclick => "collapseAllNodes();",
               :href => "javascript:void(0);"}
              Collapse All
          %div
            %a{:href => "/dbcom/#{@locale}/dbcom_index.htm",
               :class => "highlight"}
              %b
                Home
        %div{:class => "bd",
             :id => "tree"}
  %div{:class => "unit size3of4 last_unit box chatty infoBg"}
    %div{:class => "inner"}
      %div{:class => "box infoBg mlm mrm"}
        =@content
