:javascript
  $(function(){
      $("#tree").dynatree({
      debugLevel:2,
      checkbox: false,
      persist: true,
      selectMode: 1,
      initAjax: { 
          url: "#{@toc_json_fullURL}",
      },
      onLazyRead: function(node){
         node.appendAjax({
              url: "#{@toc_json_fullURL}",
        });
      },
      onActivate: function(node) {
        #{
             %Q^var baseURL = "#{@baseURL}";^
          }
          #{
             %Q^var guide = "#{@guide}";^
          }
          if(node.tree.isUserEvent() && node.data.key.indexOf(".htm") != -1) {
            window.location = baseURL + "/" + guide + "/" + node.data.key;
            }
          //else if (node.hasChildren()) {
            
            
          //  }
      },
      onPostInit: function(isReloading, isError) {
            #{
              %Q^var key = "#{@topickey}";^
            }
            if( key ) {
                this.activateKey(key)
            }
            },
        }
        )
  });

%div{:class => "line"}
  %div{:class => "unit size1of4"}
    %div{:class=> "box callout chatty mrl"}
      %div{:class => "inner"}
        %div{:class => "hd mts"}
          %span{:class => "h4"}
            = @sidebartitle
        %div{:class => "bd",
             :id => "tree"}
  %div{:class => "unit size3of4 last_unit box chatty infoBg"}
    %div{:class => "inner"}
      %div{:class => "box infoBg mlm mrm"}
        =@content
