:javascript
  function expandAllNodes(key) {
    $("#tree").dynatree("getRoot").visit(function(node){
      node.expand(true);
    });
  }

  function collapseAllNodes(key) {
    $("#tree").dynatree("getRoot").visit(function(node){
      node.expand(false);
    });
  }
  $(function(){
      $("a[name = 'top'] ~ .body").prepend('<div id="topicTags"><span class="h5 mrl">Tags:</span></div>');
      #{
         @appareas.map{ |mytag | %Q^$('#topicTags').append('<span class="btn bluetext pas">#{map_tag(mytag)}</span>');^}.join '\n' unless @appareas.nil?
      }
      $("#tree").dynatree({
      debugLevel:2,
      checkbox: false,
      persist: true,
      selectMode: 1,
      initAjax: { 
          url: "#{@toc_json_fullURL}",
      },
      onLazyRead: function(node){
         node.appendAjax({
              url: "#{@toc_json_fullURL}",
        });
      },
      onActivate: function(node) {
        #{
             %Q^var baseURL = "#{@baseURL}";^
          }
          #{
             %Q^var guide = "#{@guide}";^
          }
          if(node.tree.isUserEvent() && node.data.key.indexOf(".htm") != -1) {
            window.location = baseURL + "/" + guide + "/" + node.data.key;
            }
          //else if (node.hasChildren()) {
            
            
          //  }
      },
      onPostInit: function(isReloading, isError) {
            #{
              %Q^var key = "#{@topickey}";^
            }
            if( key ) {
                this.activateKey(key)
            }
            },
        }
        )
  });

%div{:class => "line"}
  %div{:class => "unit size1of4"}
    %div{:class=> "box callout chatty mrl"}
      %div{:class => "inner"}
        %div{:class => "hd mts"}
          %div{:class => "threequarterssizefont"}
            %a{:onclick => "expandAllNodes();",
               :href => "javascript:void(0);"}
              Expand All
            |             
            %a{:onclick => "collapseAllNodes();",
               :href => "javascript:void(0);"}
              Collapse All
          %div
            %a{:href => "/dbcom/#{@locale}/dbcom_index.htm",
               :class => "highlight"}
              %b
                Home
        %div{:class => "bd",
             :id => "tree"}
  %div{:class => "unit size3of4 last_unit box chatty infoBg"}
    %div{:class => "inner"}
      %div{:class=>"pdf_button"}
        %a{:class=>"btn primaryBtn",
           :title => "PDF",
           :href=>"/#{@locale}/#{@relatedpdf}",
           :style => "white-space: normal;"}pdf
        %a{:class=>"btn primaryBtn",
           :title => "email",
           :href=>"mailto:?body=#{request.url}",
           :style => "white-space: normal;"}email
      
      %div{:class => "box infoBg mlm mrm"}
        =@content
